* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.4%;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #2271d1;
  padding: 2rem;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(34, 113, 209, 0.17);
  padding: 2rem;
  border-radius: 6px;
}
